@import '../base/mixin';
@import '../base/variable';

.ecology{
    .container{
        position: relative;
        overflow: hidden;
    }
    &__wrapper{
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        &-white{
            background:  #f7f8f3;
        }
        &-left{
            display: block;
        }
        &-green{
            background: url('../../img/Ecology/Rectangle.png'), linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%)  no-repeat center;
            background-size: 100% 100%;
        }
    }
    &__heading{
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 25px;
        &-dark{
            color: $darkBlack
        }
        &-white{
            color: $white;
        }
    }
    &__subtitle{
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 35px;
        &-dark{
            color: $darkBlack;
        }
        &-white{
            color: $white;
        }
    }
    &__title{
        @include font($darkBlack, 500, 40px, 52px);
        margin-bottom: 72px;
        text-align: center;
    }
    &__text{
        width: 400px;
        padding: 100px 0px 100px 70px;
        &-left{
            margin-left: auto;
            margin-right: 200px;
        }
        &-green{
            width: 450px;
        }
        &__wrapper{
            width: 656px;
            background: #f7f8f3;
            position: absolute;
            right: 0;
            top: 0;
            height: 502px;
            border-radius: 35px;
            &-green{
                background: url('../../img/Ecology/Rectangle.png'), linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%)  no-repeat center;
            background-size: 100% 100%;
            }
        }
    }
    &__ph{
        width: 656px;
        height: 502px;
        border-radius: 35px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
        &-left{
            width: 661px;
            left: 0;
            z-index: -1;
            top: 0;
        }
    }
    &__circle{
        background: url('../../img/circle.svg') no-repeat center;
        background-size: 100% 100%;
        position: absolute;
        width: 580px;
        top: 400px;
        height: 580px;
        z-index: -1;
        left: -300px;
    }
    &-btn{
        background: $white;
        color: $darkBlack; 
        box-shadow: none;
        &:focus, &:hover{
            background: $darkBlack;
            color: $white;
        }
    }
}

@media screen and(max-width: 1134px) {
    .ecology{
        &__wrapper{
            display: block;
        }
        &__text{
            padding: 40px;
            width: 100%;
            &__wrapper{
                position: relative;
                height: auto;
                width: 100%;
            }
        }
        &__heading{
            text-align: center;
        }
        &__subtitle{
            text-align: center;
        }
        button{
            display: block;
            margin: 0 auto;
        }
        &__ph{
            width: 100%;
            height: auto;
        }
    }
}

@media screen and(max-width: 1134px) {
    .ecology{
        &__title{
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 40px;
        }
    }
}


@media screen and(max-width: 550px) {
    .ecology{
        &__heading{
            font-size: 20px;
            line-height: 24px;
        }
        &__text{
            padding: 20px;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 22px;
        }
        &__wrapper{
            margin-bottom: 40px;
        }
    }
}