@import '../base/mixin';
@import '../base/variable';

.tools{
    position: relative;
    background: url('../../img/Union.jpg') no-repeat center;
    background-size: 1400px  100%;
    &__title{
        text-align: center;
        @include font($darkBlack, 500, 40px, 52px);
        margin-bottom: 87px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__bottom{
        display: flex;
        justify-content: space-around;
    }
    &__icon{
        display: flex;
        align-items: center;
        width: 103px;
        height: 103px;
        justify-content: center;
        border: 7px solid rgba(244, 244, 244, 1);
        border-radius: 50%; 
        box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
        margin-bottom: 25px;
        margin: 0 auto;
    }
    &__heading{
        text-align: center;
        @include font($darkBlack, 500, 20px, 28px);
        margin-bottom: 10px;
    }
    &__subheader{
        text-align: center;
        @include font($darkBlack, 400, 16px, 140%);
    }
    &__box{
        position: absolute;
        top: 50px;
        width: 266px;
        height: 266px;
        left: 100px;
        background: url('../../img/box.svg') no-repeat center;
    }
    &__circle{
        position: absolute;
        top: 200px;
        width: 580px;
        height: 580px;
        right: 0px;
        background: url('../../img/circle.svg') no-repeat center;
    }
    &__btn{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}

[data-aos="tools-title"]{
    transform: translateY(-20px);
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos="circle"]{
    transform: rotate(360deg) translateX(60%);
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        transform: rotate(0) translateX(0);
    }
}

@media screen and(max-width: 1300px) {
    .tools{
        .container{
            overflow: hidden;
            position: relative;
        }
        &__circle{
            width: 300px;
            height: 300px;
            right:  -150px;
        }
        &__union{
            top: -100px;
        }
        &__box{
            left: -160px;
            top: 249px;
        }
    }
}


@media screen and(max-width: 1134px) {
    .tools{
        &__title{
            font-size: 34px;
            line-height: 40px;
        }
    }
}

@media screen and(max-width: 767px) {
    
}

@media screen and(max-width: 550px) {
    .tools{
        &__top{
            display: block;
        }
        &__bottom{
            display: block;
        }
        &__circle{
            right: -190px;
            top: 571px;
        }
        &__box{
            left: -172px;
        }
        &__title{
            font-size: 29px;
            line-height: 36px;
        }
        &__list{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}